{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ chef.username }}
  </h1>

  <p><strong>First name:</strong> {{ chef.first_name }}</p>
  <p><strong>Last name:</strong> {{ chef.last_name }}</p>

  <p><strong>Work experience:</strong> {{ chef.years_of_experience }} year{{ chef.years_of_experience|pluralize }}</p>

  <h2>Chef's master classes:</h2>
    {% if chef.cooking_classes.all %}
      <ul>
        {% for cooking_class in chef.cooking_classes.all %}
          <li>
            <a href="{% url 'classes:cooking-classes-detail' pk=cooking_class.id %}">
              {{ cooking_class.title }}
            </a>
            ({{ cooking_class.cuisine.name }}) — {{ cooking_class.price }} $
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>This chef does not yet hold master classes.</p>
    {% endif %}
{% endblock %}