{% extends "base.html" %}

{% block content %}

  <form action="" method="get">
    {{ search_form }}
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{% url 'classes:chef-list' %}">Clear search</a>
  </form>

  <h1 class="d-flex justify-content-between align-items-center">
    Chef List
    <a href="{% url 'classes:chef-create' %}" class="btn btn-primary link-to-page">Create</a>
  </h1>
  {% if chef_list %}
    <table class="table text-center">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for chef in chef_list %}
      <tr>
        <td>{{ chef.id }}</td>
        <td><a href="{% url 'classes:chef-detail' chef.id%}">{{ chef.username }}</a></td>
        <td>{{ chef.first_name }}</td>
        <td>{{ chef.last_name }}</td>
        <td>{{ chef.years_of_experience }}</td>
        <td>
          <a href="{% url 'classes:chef-update' chef.pk %}">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'classes:chef-delete' chef.pk %}">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no chefs in courses</p>
  {% endif %}
{% endblock %}