{% extends "base.html" %}

{% block content %}
  <h1>Master class: "{{ cooking_class.title }}"</h1>

  <section>
    <h2>Course details</h2>
    <ul>
      <li><strong>Kitchen type:</strong> {{ cooking_class.cuisine.name }}</li>
      <li><strong>Preparation time:</strong> {{ cooking_class.preparation_time }} h</li>
      <li><strong>Cost:</strong> {{ cooking_class.price }} $</li>
      <li>
        <div class="d-flex align-items-start">
          <strong class="me-1">Chef:</strong>
          <div class="d-flex flex-column">
            {% for chef in cooking_class.chefs.all %}
              <a href="{% url 'classes:chef-detail' pk=chef.id %}">
                {{ chef.first_name }} {{ chef.last_name }};
              </a>
            {% endfor %}
          </div>
        </div>
      </li>
    </ul>
  </section>
  
  <section>
    <h3>Required ingredients</h3>
    {% if cooking_class.ingredients.all %}
      <ul>
        {% for ingredient in cooking_class.ingredients.all %}
          <li>{{ ingredient.name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No ingredients are listed for this master class.</p>
    {% endif %}
  </section>

{% endblock %}
