{% extends "base.html" %}

{% block content %}
  <h1 class="d-flex justify-content-between align-items-center">
    List of world cuisines
    <a href="{% url 'classes:cuisine-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if cuisine_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for cuisine in cuisine_list %}
      <tr>
        <td>{{ cuisine.id }}</td>
        <td>{{ cuisine.name }}</td>
        <td>
          <a href="{% url 'classes:cuisine-update' cuisine.id %}">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'classes:cuisine-delete' cuisine.id %}">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no cuisines in the database.</p>
  {% endif %}
{% endblock %}